@import url("https://use.typekit.net/jvb4kyh.css");

body {
    padding-top: 50px;
}
.navbar-default {
    background: #ffffff;
}
.gibson-font{
    font-family: "canada-type-gibson";
}
.navbar-default .navbar-brand,.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>li>a {
    color: #EC292A;
    font-weight: bold;
}
.navbar-default{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
}
.navbar-brand{
    font-size: 30px;
    font-family: "canada-type-gibson";
}
.text-red{
    color: #EC292A;
}
.text-capital{
    text-transform: uppercase;
}
.text-white{
    color: #ffffff;
}
.text-highlight{
    font-weight: 600;
}
.img-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
@media(max-width:480px) {
    #home_slider {
        max-height: 479px !important;
    }
    #banner_content h1{
        font-weight: bold;
    }
    #home_slider #banner_content{
        padding-top: 5px;
        max-width: 100%;
    }
    .navbar-brand {
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
        width: 59%;
    }
    .navbar-default{
        height: 60px;
    }
    .navbar-header img{
        float: left;
        height: 60px;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        background: #ffffff;
    }
    #member-advantages div.col-xs-12{
        margin-bottom: 30px;
    }
    #login-modal form{
        width: 100% !important;
    }
}
.openpopup{
    background: #EC292A;
    padding-top: 26px;
    padding-bottom: 15px;
}
.openpopup:hover, .openpopup:active{
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff !important;
}

@media(min-width: 481px){
    #home_slider #banner_content {
        padding-top: 161px;
        max-width: 60%;
    }
    #home_slider{
        min-height: 550px;
    }
}
@media(max-width:767px) {
    #member-advantages{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #member-advantages h1{
        margin-bottom: 30px;
    }
}
#member-advantages h2{
    margin-top: 0;
    font-size: 21px;
    font-weight: 400;
    font-family: "canada-type-gibson";
    text-transform: uppercase;
    margin-bottom: 20px;
}


.navbar-right> li:last-child> a,
.navbar-right> li:last-child> a:hover,
.navbar-right> li:last-child> a:focus
{
     background:#EC292A ;
     color: #ffffff;
     padding-right: 30px;
     padding-left: 30px;
}
#home_slider p{
    margin-bottom: 30px;
}
#home_slider .btn-default{
    width: 169px;
    background: transparent;
    border: 1px solid #ffff;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 0;
    page-break-after: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px solid;
}
.d-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#member-advantages img{
    height: 100px;
    margin-bottom: 30px;
}
#member-advantages .btn-default{
    background: #EC292A;
    color: #ffffff;
    padding-right:50px;
    padding-left: 50px;
    border-radius: 0;
}
#member-advantages .btn-default:active,   #member-advantages .btn-default:focus{
    outline: none;
}
.modal-header{
    border-bottom: transparent;
    padding-bottom: 0;
}
.modal-body{
    padding-top: 0;
}
.modal-body h1{
    margin-top: 0;
    font-weight: 600;
}
#login-modal input.form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    border-bottom-color:#80808038;
    border-radius: 0;
    padding-left: 0;
}
#login-modal form{
    width: 80%;
}
#login-modal form {
    margin-top: 30px;

}
.text-light-gray,.text-light-gray:hover{
    color: #B8B8B8;
}
form a{
    text-decoration: none;
}
#login-modal .modal-content{
    border-radius: 0;
}

#login-modal a.text-light-gray{
    text-decoration: none;
    text-transform: uppercase;
}
#login-modal .modal-footer .col-sm-6,
#login-modal .modal-footer .col-xs-6{
    padding-left: 0;
    padding-right: 0;
}

#login-modal .modal-footer{
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    border-top:transparent;

}
#login-modal input::placeholder {
    color: #B8B8B8;
    text-transform: uppercase;
    padding-left: 0;
    font-size: 16px;
}
#login-modal .form-group{
    margin-bottom: 40px;
}
@media(min-width:769px) {
    #login-modal form {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
    #member-advantages .btn-default{
        margin-top: 50px;
    }
    #member-advantages .col-sm-offset-2 {
        margin-left: 15.666667%;
    }
    #member-advantages{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    #member-advantages h1{
        margin-bottom: 30px;
    }
    #home_slider h1{
        font-size: 40px;
        font-weight: bold;
    }
    .navbar-default{
        padding-top:28px;
        padding-bottom: 28px;
        border-left: 6px solid #EC292A;
    }
    .navbar-nav>li>a{
        font-size:18px;
        font-weight: normal;
    }
    .navbar-right{
        padding-right: 30px;
    }
    .navbar-right li{
        padding-right:45px;
    }
    #member-advantages h1{
        margin-bottom: 50px;
    }
}
.slider_bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-image: url('https://giet.uk/wp-content/themes/rapidtack-institute/images/slider-image.jpg');
    background-size: cover;
}
#home_slider{
    background-size: 44%;

}
#home_slider #banner_content {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#banner_content h1{
    margin-bottom: 30px;
}
#banner_content p{
    font-size: 18px
}
#register-btn{
    background: #B8B8B8;
}
#signin-btn{
    background: #EC292A;
}
#signin-btn, #register-btn{
    border-radius: 0;
    width: 100% ;
    border: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffff;
    font-size: 20px;
    font-family: 'canada-type-gibson';
}
#login-modal button.close{
    font-size: 46px;
}
.navbar-default .navbar-toggle{
    border-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ec292a;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background: transparent;
}